/* МАТРИЦА */
body.bg-matrix {
  background: #000;
}

body.bg-matrix::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(180deg, rgba(0, 255, 65, 0.15), transparent),
    repeating-linear-gradient(
      0deg,
      rgba(0, 255, 65, 0.08) 0px,
      rgba(0, 255, 65, 0.08) 1px,
      transparent 1px,
      transparent 3px
    );
  pointer-events: none;
  z-index: 0;
  animation: matrixScan 8s linear infinite;
}
